! AREA 0
! ------
! ------
!
! Router 1
! --------
enable 
configure terminal

!GENRAL CONFIGURATIONS
hostname Area0-R1
banner login @
****************************************************
****************************************************

M E :  W A N T  T O  H E A R  A  UDP  J O K E?

Y O U : L O O K  I  A M  B U S Y, A N D ...

M E : YOU  MAY  NOT  GET  IT  AND  I  DON'T  CARE !

Y O U : W H A T E V E R,  M A Y  I  E N T E R ?

M E : FINE!  P R O V E  W H O  Y O U  A R E : 
  
****************************************************
****************************************************
@

!ADDRESS ASSIGNMENTS

interface GigabitEthernet0/0
 ip address 192.168.1.1 255.255.255.0
 duplex auto
 speed auto
 exit
interface Serial0/3/0
 ip address 10.0.0.1 255.255.255.252
 clock rate 2000000
 exit
interface Serial0/3/1
 ip address 10.0.0.5 255.255.255.252
 clock rate 2000000
 exit
 
!SECURITY

username cisco password cisco
username root password toor
service password-encryption
line con 0
 login local
 exit
line vty 0 4
 login local
 exit
line vty 5 15
 login local
 exit
 
!OSPF
router ospf 1
 passive-interface GigabitEthernet0/0
 network 192.168.1.0 0.0.0.255 area 0
 network 10.0.0.0 0.0.0.3 area 0
 network 10.0.0.4 0.0.0.3 area 0
 exit
 
!Router 2
!--------

enable 
configure terminal

!GENRAL CONFIGURATIONS
hostname Area0-R2
banner login @
****************************************************
****************************************************

M E :  W A N T  T O  H E A R  A  UDP  J O K E?

Y O U : L O O K  I  A M  B U S Y, A N D ...

M E : YOU  MAY  NOT  GET  IT  AND  I  DON'T  CARE !

Y O U : W H A T E V E R,  M A Y  I  E N T E R ?

M E : FINE!  P R O V E  W H O  Y O U  A R E : 
  
****************************************************
****************************************************
@

!ADDRESS ASSIGNMENTS


interface Serial0/3/0
 ip address 10.0.0.2 255.255.255.252
 clock rate 2000000
 exit
interface Serial0/3/1
 ip address 10.0.0.9 255.255.255.252
 clock rate 2000000
 exit
 
!SECURITY

username cisco password cisco
username root password toor
service password-encryption
line con 0
 login local
 exit
line vty 0 4
 login local
 exit
line vty 5 15
 login local
 exit
 
!OSPF
router ospf 1
 network 10.0.0.0 0.0.0.3 area 0
 network 10.0.0.8 0.0.0.3 area 0
 exit
 
!Router 3
!--------

enable 
configure terminal

!GENRAL CONFIGURATIONS
hostname Area0-R2
banner login @
****************************************************
****************************************************

M E :  W A N T  T O  H E A R  A  UDP  J O K E?

Y O U : L O O K  I  A M  B U S Y, A N D ...

M E : YOU  MAY  NOT  GET  IT  AND  I  DON'T  CARE !

Y O U : W H A T E V E R,  M A Y  I  E N T E R ?

M E : FINE!  P R O V E  W H O  Y O U  A R E : 
  
****************************************************
****************************************************
@

!ADDRESS ASSIGNMENTS


interface Serial0/2/0
 ip address 10.0.0.17 255.255.255.252
 clock rate 2000000
interface Serial0/2/1
 ip address 10.0.0.21 255.255.255.252
 clock rate 2000000
interface Serial0/3/0
 ip address 10.0.0.10 255.255.255.252
interface Serial0/3/1
 ip address 10.0.0.14 255.255.255.252
 
!SECURITY

username cisco password cisco
username root password toor
service password-encryption
line con 0
 login local
 exit
line vty 0 4
 login local
 exit
line vty 5 15
 login local
 exit
 
!OSPF
router ospf 1
 network 10.0.0.8 0.0.0.3 area 0
 network 10.0.0.12 0.0.0.3 area 0
 network 10.0.0.20 0.0.0.3 area 2
 network 10.0.0.16 0.0.0.3 area 1
 
